<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto mt-3">
      <h1>Editing Book</h1>
      <%= form_with model: @book do |f| %>
        <% @book.errors.full_messages.each do |message| %>
          <li>error:<%= message %></li>
        <% end %>
        <%= f.label :title %>
        <%= f.text_field :title, autofocus: true, id:"inputName", class: 'form-control mb-3'%>
        <%= f.label "Opinion" %>
        <%= f.text_area :body, autofocus: true, class: 'form-control mb-3' %>
        <%= f.submit "Update Book", class: "btn btn-success mb-3" %>
      <% end %>
      <%= link_to "Show", book_path(@book) %> |
      <%= link_to "Back", books_path %>
    </div>
  </div>
</div>
