<div class="container px-5 px-sm-0">
  <div class="row">
  <div class="col-md-3">
    <h2>User info</h2>
    <%= image_tag @books.user.get_profile_image(100,100) %>
    <table class="table">
      <tbody><tr></tr>
      <tr>
        <th>name</th>
        <th><%= @books.user.name %></th>
      </tr>
      <tr>
          <th>introduction</th>
          <th><%= @books.user.introduction %></th>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <%= link_to(edit_user_path(@books.user), class: "btn btn-outline-secondary btn-block") do %>
        <i class="fas fa-user-cog"></i>
      <% end %>
    </div>

    <%= render template: 'books/new' %>

  </div>

  <div class="col-md-8 offset-md-1">
    <h2>Book detail</h2>
    <table class="table">
      <tbody>
        <tr>
          <td>
            <%= link_to user_path(@books.user) do %>
              <%= image_tag @books.user.get_profile_image(100,100) %></br>
              <%= @books.user.name %>
            <% end %>
          </td>
          <td>
            <%= link_to book_path(@books.id) do %>
              <%= @books.title %>
            <% end %>
          </td>
          <td>Opinion<%= @books.body %></td>
          <% if @books.user === current_user %>
          <td>
            <%= link_to "Edit", edit_book_path(@books), class: 'btn btn-sm btn-success' %>
          </td>
          <td>
            <%= link_to "Destroy", book_path(@books), method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: "本当に消しますか？" } %>
          </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>
